#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #5bc0de;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 14px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 14px;
  }
  
  #toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  #toast.info{
    background-color: #5bc0de;
  }
  
  #toast.success{
    background-color: rgb(35 131 15);
  }

  #toast.warning{
    background-color: #f0ad4e;
  }

  #toast.error{
    background-color: #d9534f;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }